<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teligen.ito.person.core.provider.bussiness.basicinfo.manager.databasequery.mapper.TbDbGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.teligen.ito.person.core.provider.bussiness.basicinfo.manager.databasequery.entity.TbDbGroup">
        <result column="group_id" property="groupId" />
        <result column="group_name" property="groupName" />
        <result column="start_no" property="startNo" />
        <result column="end_no" property="endNo" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        group_id, group_name, start_no, end_no
    </sql>

</mapper>
