<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teligen.ito.person.core.provider.bussiness.basicinfo.manager.databasequery.mapper.TbDbDbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.teligen.ito.person.core.provider.bussiness.basicinfo.manager.databasequery.entity.TbDbDb">
        <result column="group_id" property="groupId" />
        <result column="db_id" property="dbId" />
        <result column="db_name" property="dbName" />
        <result column="hash_value" property="hashValue" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        group_id, db_id, db_name, hash_value
    </sql>

</mapper>
