<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teligen.ito.person.core.provider.bussiness.basicinfo.mapper.TbPersonBasicInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.teligen.ito.person.common.model.entity.TbPersonBasicInfo">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="telephone" property="telephone" />
        <result column="age" property="age" />
        <result column="sex" property="sex" />
        <result column="nation" property="nation" />
        <result column="profession" property="profession" />
        <result column="info_source" property="infoSource" />
        <result column="identify" property="identify" />
        <result column="participatin_group" property="participatinGroup" />
        <result column="educate" property="educate" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pid, name, telephone, age, sex, nation, profession, info_source, identify, participatin_group, educate
    </sql>

</mapper>
