<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.teligen.ito.person.core.provider.bussiness.basicinfo.mapper.TbPersonExtPropertyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.teligen.ito.person.common.model.entity.TbPersonExtProperty">
        <id column="id" property="id" />
        <result column="p_name" property="pName" />
        <result column="p_areacode" property="pAreacode" />
        <result column="p_systemcode" property="pSystemcode" />
        <result column="p_type" property="pType" />
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, p_name, p_areacode, p_systemcode, p_type
    </sql>

</mapper>
